*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    /* background-image: url(image/bg.png); */
    background-position: center;
    background-size: cover;
  padding: 0 7%;
  color: #fff;
  background-color: #0d3c05;
}
.logo{
    padding-left: 10px;
    width: 150px;
    padding-top: 10px;
    margin: 5px;
    cursor: pointer;
}
nav{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;

}
nav ul{
    flex: 1;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px ;
}
nav ul li a {
    color: #fff;
    text-decoration: none;

}
nav .btn{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
}
.content{
    margin-top: 8%;
}
.content h1{
font-size: 88px;
margin-bottom: 10px;

}
.content h1 span{
    color:#ff960b;
}
.content p{
 line-height: 22px;
 font-size: 14px;
}
.content .btn{
    display: inline-block;
    margin-top: 10px;
    background: #ff960b;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
border-radius: 30px;    
}
.coin-list{
    position: absolute;
    right: 10px;
    bottom: 50px;
    display: flex;
    align-items: center;
}
.coin {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 15px;
    color: #ff960b;
    border: 1px solid #fff;
    padding: 20px 30px;
    border-radius: 8px;
}
.coin img{
    width: 40px;
    margin-right: 10px;
}
.coin h3{
    color: #fff;
    margin-bottom: 5px;

}
.popup{
width:400px;
background: #fff;
border-radius: 6px;
position: absolute;
top: 0%;
left: 50%;
transform: translate(-50%, -50%) scale(0.1);
text-align: center;
padding: 0 30px 30px;
color: #333;
visibility: hidden;
transition: transform 0.4s, top 0.4s;
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
font-weight: 500;
margin: 30px 0 10px;
}
.popup button{
    width: 100px;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.open-popup{
    visibility: visible;
    top: 300px;
    transform: translate(-50%, -50%) scale(1);
}